h1{
    color: blue;
}

a{
    display: block;
    text-decoration: none;
}
a:link{
    color:red
}

    
a:hover{
    background-color: aquamarine;
}
li{
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
}
div{
    /* width: 500px; */
    border: 3px solid #ff0000;
    margin-top: 10px auto  15px auto;
}
p.para{
    border:5px solid red;
    line-height: 1.2em;
    letter-spacing: 0.2em;
    margin:10px 20px;
    /* visibility:hidden; */
    padding:12px 30px;
}